body {
  background-color: #e8ebff;
}
a:link {
  color: black;
}
a:visited {
  color: black
}
a:hover {
  color: darkgray;
}
h1 {
  font-size: 72px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 30px;
}
ul {
  line-height: 80%;
}
p {
  padding-left: 20px;
  padding-bottom: 30px;
  padding-right: 30px;
}
header {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  border: lightgray 1px;
  margin-bottom: 50px;
  margin-top: 40px;
}
p.lead {
  padding-top: 30px;
  padding-left: 30px;
}
p.mb-1 {
  padding-top: 20px;
}
h2 span{
  background-color: #d8c7ff;
  border-radius: 5px;
  border: 1px lightgray;
  padding:0px 420px 10px 15px;
  margin: 15px 20px 10px 0px;
  margin-top: 20px;
}
h4.title {
  border-left: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #d8c7ff;
  border-radius: 5px 5px 5px 5px;
  border: 2px gray;
}
h5.header1 {
  padding-top: 75px;
  padding-left: 75px;
}
h6.header2 {
  padding-top: 75px;
  line-height: 110%;
}
img.rounded {
  float: left;
  margin-left: 30px;
  margin-right: 40px;
}
