body {
  background-color: #e8ebff;
}
h1 {
  font-size: 72px;
  text-align: left;
  margin: 20px;
  padding: 20px
}
p {
  padding-left: 20px;
  padding-bottom: 30px;
}
header {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  border: lightgray 1px;
  margin-bottom: 50px;
}
img.rounded {
  float: left;
  margin-left: 20px;
  margin-right: 40px;
}
