body {
  background-color: #e8ebff;
}
h1 {
  font-size: 72px;
  text-align: center;
  background-color: white;
  margin: 20px;
  padding: 20px
}
header {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
}
img.header {
  float:left;
}
p {
  padding: 10px;
}
